{% set id = 1 %}
<table class="uk-table uk-table-justify uk-table-divider">
    <thead>
        <tr>
            <th class="uk-table-shrink">#</th>
            <th class="uk-table-expand">path</th>
            <th class="uk-table-shrink">act</th>
        </tr>
    </thead>
    <tbody>
        {% for datas in datas %}
        <tr>
            <td>{{ id }}</td>
            <td><a href="//{{ datas.path }}">{{ datas.path }}</a></td>
            
            <td>
                <button class="uk-button uk-button-default mitm-btn-handler-unblock-mitm-log-history-id" data-mitm-log-history-id="{{ datas.id }}" type="button">unblock</button>
            </td>
        </tr>
            {% set id = id + 1 %}
        {% endfor %}
    </tbody>
</table>

<script>
    $(document).ready(function () {

        $('.mitm-btn-handler-unblock-mitm-log-history-id').click(function () {
            var id = $(this).data('mitm-log-history-id');
            console.log(`start unblock path id: ${id}`);
            $.ajax({
                type: 'GET',
                url: '/api/mitm_log_history_changestate',
                data: { 
                    mitm_log_history_id: id ,
                    mode: 'unblock'
                },
                success: function (response) {
                    // Handle success response
                    console.log(response);
                },
                error: function (error) {
                    // Handle error response
                    console.error(error);
                }
            });
        });
    });
</script>